@model List<QuestionAndOptions>
@{
    ViewData["Title"] = "Sinavlar";
    Layout = "_EmptyLayout";
    int sayi = 1;
}

<form asp-controller="AppUser" asp-action="Sinavlar" method="post">

    <h1>Bu kimin sinavi</h1>

    @for (var i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        <h3>@sayi-) @item.QuestionText</h3>

        <label>
            <input name="questionAndOptions[@i].SelectedOption" type="radio" value="@item.A" />
            @item.A
        </label>

        <label>
            <input name="questionAndOptions[@i].SelectedOption" type="radio" value="@item.B" />
            @item.B
        </label>

        <label>
            <input name="questionAndOptions[@i].SelectedOption" type="radio" value="@item.C" />
            @item.C
        </label>

        <label>
            <input name="questionAndOptions[@i].SelectedOption" type="radio" value="@item.D" />
            @item.D
        </label>

        sayi++;
    }
    <br />
    <button type="submit">Cevapla</button>
</form>

