@model List<QuestionAndOptions>
@{
    ViewData["Title"] = "Sinavlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sayi = 1;
}

<form asp-controller="AppUser" asp-action="Sinavlar" method="post">

    <h1>Bu kimin sinavi</h1>

    @for (var i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        <h3>@sayi-) @item.QuestionText</h3>

        <label>
            <input name="questionAndOptions[@i].SelectedOption" type="radio" value="A" />
            @item.A
        </label>

        <label>
            <input name="questionAndOptions[@i].SelectedOption" type="radio" value="B" />
            @item.B
        </label>

        <label>
            <input name="questionAndOptions[@i].SelectedOption" type="radio" value="C" />
            @item.C
        </label>

        <label>
            <input name="questionAndOptions[@i].SelectedOption" type="radio" value="D" />
            @item.D
        </label>

        sayi++;
    }

    <button type="submit">Cevapla</button>
</form>

